:root.theme-dark {
  --bg-color: rgb(12, 18, 45);
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --li_title-color: #000028;
  --decorative-color: #FF0070;
}