:root.theme-light {
  --bg-color: rgb(245, 245, 220);
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --li_title-color: #353430;
  --decorative-color: #353430;
}

.rectangle_top-text,
.rectangle_top::before {
  display: none;
}