.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
}

.header {
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: 0 10px 0;
  font-family: 'IBM Plex Mono', sans-serif;
  position: relative;
  z-index: 1;
}

.page::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: var(--decorative-color);
  top: 15px;
  right: 15px;
}

.page::after {
  position: absolute;
  content: "REC";
  color: var(--decorative-color);
  top: 10px;
  right: 40px;
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  line-height: 25px;
}

.decorated-zone {
  position: relative;
  z-index: 2;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorative-color);
  border-right: 1px solid var(--decorative-color);
}

.decorated-zone::after {
  position: absolute;
  z-index: 2;
  right: 41px;
  top: 13px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--pink-color);
}

.header .rectangle_bottom {
  position: absolute;
  z-index: 2;
  bottom: 10px;
}

.rectangle_top::before {
  content: "";
  height: 13px;
  width: 13px;
  margin: 5px 0 0 5px;
  border-radius: 50%;
  background-color: var(--pink-color);
  position: inherit;
}

.header__theme-menu {
  margin: 76px 8px 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  gap: 16px;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header_title {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--purple-color);
  text-shadow: 4px 4px var(--pink-color);
  margin-top: 70px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  align-self: center;
}

.header_title-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight_bold);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--pink-color);
  margin-top: 55px;
}

.header_title-text p {
  word-spacing: 20%;
}

main {
  padding: 0 10px 0;
}

.content-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.attention_factors {
  margin-top: 40px;
}
 
.section_main {
  display: grid;
  gap: 20px;
}

.section_main-item {
  display: grid;
  gap: 10px;
}

.section_title {
  font-family: var(--font-family);
  font-weight: var(--font-weight_bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color_title);
  margin-bottom: 20px;
}

.what_reduce_concentration {
  margin-top: 50px;
}

.li_title {
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
}

.li_main {
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.text-accent {
  color: var(--li_title-color);
  background-color: var(--accent-color);
}

li a {
  text-shadow: 2px 1px var(--accent-color);
}

.goldfish {
  display: grid;
  gap: 20px;
}

.goldfish .section_title {
  margin-bottom: 0;
}

.concentration_main {
  display: grid;
  gap: 20px;
}

.section_title-advices {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin: 9px 0 10px 0;
}

.pictures {
  margin-top: 50px;
}

.pictures_images {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}

.pictures_images img {
  width: 100%;
  height: auto;
}

.footer {
  margin-top: 35px;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.rectangle_top {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--pink-color);
  border-right: 1px solid var(--pink-color);
  justify-self: end;
}

.rectangle_bottom {
  width: 25px;
  height: 25px;
  left: 10px;
  border-left: 1px solid var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
  align-self: end;
}

footer p {
  justify-self: center;
  align-self: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px var(--accent-color);
  max-inline-size: 100%;
}

@media (min-width: 768px) {
          /* Начало Header */
  .header {
    padding: 10px 10px 0 0;
  }

  .header__theme-menu {
    align-self: center;
    margin: 0 20px 0 0;
  }

  .page::before {
  top: 25px;
  right: 25px;
  }

  .page::after {
  top: 20px;
  right: 50px;
  }

  .decorated-zone::before {
  top: 20px;
  right: 20px;
  }

  .header .rectangle_bottom {
    bottom: 20px;
    left: 20px;
  }

.decorated-zone::after {
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  }

  .header_title {
    display: inline;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_title-text {
    justify-self: end;
    inline-size: 364px;
    margin: 0px 10px 184px 0;
  }
          /*Конец Header*/
          /*Начало Main*/
  main {
    padding: 0 20px 0;
  }

  .attention_factors {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    margin-top: 60px;
    justify-content: space-between;
  }

  .section_main {
    min-inline-size: 472px;
    justify-self: end;
  }

  .what_reduce_concentration {
    display: grid;
    justify-content: start;
    margin-top: 80px;
  }

  .what_reduce_concentration .section_title {
    inline-size: 150px;
  }

  .goldfish {
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-top: 80px;
    justify-content: space-between;
  }

  .goldfish article {
    inline-size: 472px;
  }

  .goldfish.section_title {
    inline-size: 250px;
  }

  article .section_title-advices {
    margin: 0 20px;
  }

  .pictures {
    margin-top: 80px;
  }

  .pictures .li_title {
    margin-bottom: 20px;
    font-weight: var(--font-weight_bold);
  }

  .pictures_images {
    display: grid;
    grid-template-columns: repeat(3, 229px);
    grid-template-rows: 190px 230px 318px;
    gap: 20px;
    overflow: hidden;
  }

  .pictures_images-ice_cream {
    grid-area: 1 / 3 / 3 / 4;
    width: 440px;
    justify-self: center;
  }

  .pictures_images-sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .pictures_images-cassette {
    grid-area: 2 / 1 / 4 / 2;
    width: 850px;
    justify-self: center;
  }

  .pictures_images-street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .pictures_images-books {
    grid-area: 2 / 2 / 3 / 3;
  }

  .pictures_images img, 
  .pictures_images-ice_cream,  
  .pictures_images-cassette {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
  }
          /*Конец Main*/
          /*Начало Footer*/

  .footer {
    margin-top: 60px;
    min-height: 1024px;
  }

  footer .rectangle_top {
    margin: 10px;
  }

  footer .rectangle_bottom {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
        /*Начало Header*/
  .header__theme-menu {
    margin: 10px 0 0 10px;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin: 0;
    justify-self: center;
    gap: 25px;
  }
        /*Конец Header*/
        /*Начало Main*/

  .header_title-text {
    min-inline-size: 490px;
    align-self: center;
    margin: 0 10px 20px 0;
  }

  .header_title-text p {
    word-spacing: 0%;
  }

  .header_title-text p {
    word-spacing: 0%;
  }
        /*Конец Header*/
        /*Начало Main*/
  .attention_factors {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: 60px;
    justify-content: space-between;
  }

  .attention_factors .section_title {
    min-inline-size: 335px;
  }

  .what_reduce_concentration .section_title {
    min-inline-size: 280px;
  }

  .what_reduce_concentration .section_main {
    display: flex;
    gap: 20px;
  }

  .what_reduce_concentration .section_main-item {
    display: flex;
    flex-direction: column;
    min-width: 315px;
  }

  .goldfish {
    grid-template-columns: min-content auto;
    justify-content: space-between;
  }

  .goldfish .section_title {
    min-inline-size: 315px;
  }

  .goldfish article {
    inline-size: auto;
  }

  .pictures_images {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
  }
        /*Конец Main*/
        /*Начало Footer*/

  .footer {
    margin-top: 60px;
    min-height: 768px;
  }

  footer p {
    font-size: 157px;
    
  }
        /*Конец Footer*/
}