.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: 0 10px 0;
  font-family: var(--font-family);
  position: relative;
}

.header .rectangle_top {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}

.rectangle_top-text {
  position: absolute;
  z-index: 2;
  right: 41px;
  top: 13px;
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--decorative-color);
}

.header .rectangle_bottom {
  position: absolute;
  z-index: 2;
  bottom: 10px;
}

.rectangle_top::before {
  content: "";
  height: 13px;
  width: 13px;
  margin: 5px 0 0 5px;
  border-radius: 50%;
  background-color: var(--decorative-color);
  position: inherit;
}

.header__theme-menu {
  margin: 76px 8px 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  gap: 16px;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header_title {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  margin-top: 70px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
}

.header_title-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight_bold);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  margin-top: 55px;
}

main {
  padding: 0 10px 0;
}

.attention_factors {
  margin-top: 40px;
}
 
.section_main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section_main-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section_title {
  font-family: var(--font-family);
  font-weight: var(--font-weight_bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.what_reduce_concentration {
  margin-top: 50px;
}

.li_title {
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
}

.li_main {
  font-family: var(--font-family);
  font-weight: var(--font-weight_normal);
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

span:hover {
  text-decoration: underline var(--text-color);
  text-underline-offset: 3px;
}

.text-accent {
  color: var(--li_title-color);
  background-color: var(--accent-color);
}

li span {
  text-shadow: 2px 1px var(--accent-color);
}

.goldfish {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 50px;
}

.goldfish .section_title {
  margin-bottom: 0;
}

.concentration_main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section_title-advices {
  font-family: var(--font-family);
  font-weight: var(--font-weight_bold);
  font-size: 18px;
  line-height: 23.4px;
  margin: 9px 0 20px 0;
}

.pictures {
  margin-top: 50px;
}

.pictures_images {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}

.pictures_images img {
  width: 100%;
  height: auto;
}

footer {
  margin-top: 37px;
  padding: 10px;
  min-height: 668px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.rectangle_top {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorative-color);
  border-right: 1px solid var(--decorative-color);
  justify-self: end;
}

.rectangle_bottom {
  width: 25px;
  height: 25px;
  left: 10px;
  border-left: 1px solid var(--decorative-color);
  border-bottom: 1px solid var(--decorative-color);
  align-self: end;
}

footer p {
  justify-self: center;
  align-self: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight_bold);
  font-size: 116px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px var(--accent-color);
  max-inline-size: 100%;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  outline-offset: 3px;
}

.header__theme-menu-button:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
  --bg-color: rgb(245, 245, 220);
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --li_title-color: #353430;
  --decorative-color: #353430;
  }

  .rectangle_top-text,
  .rectangle_top::before {
  display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
  --bg-color: rgb(12, 18, 45);
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --li_title-color: #000028;
  --decorative-color: #FF0070;
  }
}


@media (min-width: 768px) {
          /* Начало Header */
  .header {
    padding: 10px 10px 0 0;
  }

  .header__theme-menu {
    margin: 183px 12px 0 0;
  }

  .header .rectangle_top {
    top: 20px;
    right: 20px;
  }

  .rectangle_top-text {
    top: 20px;
    right: 52px;
  }

  .header_title {
    display: inline;
    margin: 180px 0 0 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_title-text {
    justify-self: end;
    inline-size: 364px;
    margin: 160px 10px 0 0;
  }
          /*Конец Header*/
          /*Начало Main*/
  main {
    padding: 0 20px 0;
  }

  .attention_factors {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    margin-top: 242px;
    justify-content: space-between;
  }

  .section_main {
    min-inline-size: 472px;
    justify-self: end;
  }

  .what_reduce_concentration {
    display: grid;
    justify-content: start;
    margin-top: 80px;
  }

  .what_reduce_concentration .section_title {
    inline-size: 150px;
  }

  .goldfish {
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-top: 60px;
    justify-content: space-between;
  }

  .goldfish article {
    inline-size: 472px;
  }

  .goldfish.section_title {
    inline-size: 250px;
  }

  article .section_title-advices {
    margin: 0 0 20px 0;
  }

  .pictures {
    margin-top: 80px;
  }

  .pictures .li_title {
    margin-bottom: 20px;
  }

  .pictures_images {
    display: grid;
    grid-template-columns: repeat(3, minmax(229px, auto));
    grid-template-rows: minmax(190px, auto) minmax(230px, auto) minmax(318px, auto);
    gap: 20px;
    overflow: hidden;
  }

  .pictures_images-ice_cream {
    grid-area: 1 / 3 / 3 / 4;
    width: 440px;
    justify-self: center;
  }

  .pictures_images-sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .pictures_images-cassette {
    grid-area: 2 / 1 / 4 / 2;
    width: 850px;
    justify-self: center;
  }

  .pictures_images-street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .pictures_images-books {
    grid-area: 2 / 2 / 3 / 3;
  }

  .pictures_images img, 
  .pictures_images-ice_cream,  
  .pictures_images-cassette {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
  }
          /*Конец Main*/
          /*Начало Footer*/

  footer {
    margin-top: 62px;
    min-height: 1024px;
  }

  footer .rectangle_top {
    margin: 10px;
  }

  footer .rectangle_bottom {
    margin: 10px;
  }
        /*Конец Footer*/
}

@media (min-width: 1024px) {
        /*Начало Header*/
  .header__theme-menu {
    margin: 10px 0 0 10px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin: 0;
    justify-self: center;
  }

  .header_title {
    margin-top: 280px;
  }
        /*Конец Header*/
        /*Начало Main*/

  .header_title-text {
    margin-top: 113px;
    min-inline-size: 490px;
  }

  .header_title-text p {
    word-spacing: 0%;
  }

  .attention_factors {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: 160px;
    justify-content: space-between;
  }

  .attention_factors .section_title {
    min-inline-size: 335px;
  }

  .what_reduce_concentration .section_title {
    min-inline-size: 280px;
  }

  .what_reduce_concentration .section_main {
    display: flex;
    gap: 20px;
  }

  .what_reduce_concentration .section_main-item {
    display: flex;
    flex-direction: column;
    min-width: 315px;
  }

  .goldfish {
    grid-template-columns: min-content auto;
    justify-content: space-between;
  }

  .goldfish .section_title {
    min-inline-size: 330px;
  }

  .goldfish article {
    inline-size: auto;
  }

  .pictures_images {
    grid-template-columns: repeat(3, minmax(315px, auto));
    grid-template-rows: minmax(260px, auto) minmax(315px, auto) minmax(433px, auto);
  }
        /*Конец Main*/
        /*Начало Footer*/

  footer {
    min-height: 768px;
  }

  footer p {
    font-size: 157px;
  }
        /*Конец Footer*/
}