:root {
  --font-family: 'IBM Plex Mono', sans-serif;
  --font-weight_bold: 700;
  --font-weight_normal: 400;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main_text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --li-title_text-color: #000028;
  --font-size: 18px;
  --line-height: 23.4px;
}